@using TravelTripProje.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımda</h3>
                @foreach (var x in Model)
                {
                    <img src="@x.FotoUrl" alt="" style="height:600px; width:1100px;" />
                    <p>@x.Aciklama</p>
                }
            </div>
        </div>
    </div>

</body>
</html>

